@charset "UTF-8";
@font-face {
  font-family: "agFutura";
  src: url("../fonts/ag-futura.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "agFuturaBold";
  src: url("../fonts/ag-futura-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
body {
  padding: 0;
  margin: 0;
  background-color: #191D2F;
}

header {
  width: 100%;
  height: 150px;
  position: fixed;
  background-image: url("../pics/космос.png");
  background-size: cover;
  z-index: 100;
}
header nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
header nav .hackatonLogo {
  height: 150px;
  background-image: url("../pics/logo_v.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15%;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  color: white;
  list-style: none;
  padding: 50px;
  font-family: "agFutura";
  font-size: 14pt;
}
header nav ul a {
  text-decoration: none;
  color: white;
  list-style: none;
  padding: 50px;
  font-family: "agFutura";
}
header nav ul > li:hover {
  cursor: pointer;
  font-size: 18pt;
}

@font-face {
  font-family: "agFutura";
  src: url("../fonts/ag-futura.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "agFuturaBold";
  src: url("../fonts/ag-futura-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
footer .footerWrapper {
  padding: 0;
  background-color: #131726;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
footer .footerWrapper .logoHackatonFooter {
  width: 317px;
  height: 71.3333333333px;
  margin: auto;
  background-image: url("../pics/logo_b.png");
  background-size: cover;
}
footer .footerWrapper .infoFooter {
  margin: auto;
}
footer .footerWrapper .infoFooter h1 {
  font-family: "agFuturaBold";
  font-size: 36px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}
footer .footerWrapper .infoFooter p {
  font-family: "agFutura";
  font-size: 27px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: "agFutura";
  src: url("../fonts/ag-futura.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "agFuturaBold";
  src: url("../fonts/ag-futura-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "agFutura";
  src: url("../fonts/ag-futura.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "agFuturaBold";
  src: url("../fonts/ag-futura-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
.organizators {
  min-height: 330px;
  background-color: #10162e;
  padding-top: 20px;
  text-align: center;
}
.organizators h1 {
  font-family: "agFuturaBold";
  font-size: 27pt;
  color: white;
}
.organizators .organizatorsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 60px;
}
.organizators .organizatorsWrapper .organizator {
  display: flex;
  flex-direction: column;
}
.organizators .organizatorsWrapper .organizator .organizatorPicture {
  height: 200px;
  width: 200px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 100px;
}
.organizators .organizatorsWrapper .organizator .organizatorInformation {
  min-height: 240px;
  width: 390px;
}
.organizators .organizatorsWrapper .organizator .organizatorInformation .organizatorName {
  font-family: "agFuturaBold";
  font-size: 14pt;
  color: white;
}
.organizators .organizatorsWrapper .organizator .organizatorInformation .organizatorRole {
  font-family: "agFutura";
  font-size: 12pt;
  color: rgb(200, 198, 198);
}
.organizators .organizatorsWrapper .organizator .organizatorInformation .organizatorDescription {
  font-family: "agFutura";
  font-size: 14pt;
  color: white;
}

section#program p {
  color: 255;
}
section#program h1 {
  font-family: "agFutura";
  font-size: 27pt;
}
section#program h1 span {
  font-family: "agFuturaBold";
  font-size: 51pt;
}

@font-face {
  font-family: "agFutura";
  src: url("../fonts/ag-futura.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "agFuturaBold";
  src: url("../fonts/ag-futura-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
.yearGalery {
  min-height: 330px;
  background-color: #10162e;
  padding-top: 30px;
  text-align: center;
}
.yearGalery h1 {
  font-family: "agFuturaBold";
  font-size: 27pt;
  color: white;
  padding-top: 150px;
}
.yearGalery .yearWrapper {
  padding-top: 37.5px;
}
.yearGalery .yearWrapper .yearPhotos {
  padding: 0 60px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.yearGalery .yearWrapper .yearPhotos .photo {
  width: 342.5px;
  height: 228.5px;
  background-image: url(../pics/14736428t1h4a35.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}

.year2021Wrapper {
  padding-top: 150px;
}

h2 {
  font-family: "agFuturaBold";
}

main {
  font-family: "agFuturaBold";
  padding-top: 120px;
  position: relative;
}
main #mainTitleText {
  font-family: "agFuturaBold";
  font-size: 47pt;
  text-align: center;
}
main #mottoText {
  font-size: 24pt;
  text-align: center;
  margin-bottom: 0;
}
main #periodText {
  font-size: 47pt;
  font-family: "agFuturaBold";
  text-decoration: underline;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
main #titleText {
  font-size: 18pt;
  text-align: center;
  margin-top: 10px;
}
main section.ticket {
  margin-top: 1px;
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  max-width: 600px;
  padding: 30px 60px 60px;
  margin-left: auto;
  margin-right: auto;
  font-family: "agFutura";
  font-size: 16pt;
}
main section.ticket .yearsInFrame {
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: 2px solid #191D2F;
  border-radius: 40px 0 0 40px;
  border-right: 0;
  border-right-style: none;
  border-bottom-style: none;
}
main section.ticket .yearsInFrame p {
  font-family: "agFuturaBold";
  font-size: 27pt;
  padding: 10px 60px;
  color: #191D2F;
  margin: auto;
}
main section.ticket .yearsInFrame p span {
  color: #87878a;
}
main section.ticket#about {
  padding-bottom: 75px;
}
main section.ticket .bntuLogo {
  width: 150px;
  height: 181px;
  margin: auto;
  background-image: url("../pics/logo BNTY.png");
  background-size: cover;
}

.titleTicket {
  background-image: url(../pics/1_fon.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.program {
  text-align: center;
}
.program h1 {
  margin-top: 40px;
  text-align: left;
  font-family: "agFutura";
  font-size: 27pt;
}
.program h1 span {
  font-family: "agFuturaBold";
  font-size: 51pt;
}
.program .day {
  padding: 0;
  text-align: left;
}
.program .day li {
  display: grid;
  grid-template-columns: 91px 1fr;
  margin: 0;
  position: relative;
}
.program .day li::after {
  content: "";
  background: #080516;
  width: 2px;
  height: 100%;
  top: 0px;
  left: 72px;
  position: absolute;
}

/*# sourceMappingURL=main.css.map */
