@charset "UTF-8";
@font-face {
  font-family: "agFutura";
  src: url("../fonts/ag-futura.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "agFuturaBold";
  src: url("../fonts/ag-futura-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
body {
  padding: 0;
  margin: 0;
  background-color: #191D2F;
}

header {
  width: 100%;
  height: 150px;
  position: fixed;
  background-image: url("../pics/космос.png");
  background-size: cover;
  z-index: 100;
}
header nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
header nav .hackatonLogo {
  height: 150px;
  background-image: url("../pics/logo_v.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15%;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  color: white;
  list-style: none;
  padding: 50px;
  font-family: "agFutura";
  font-size: 14pt;
}
header nav ul a {
  text-decoration: none;
  color: white;
  list-style: none;
  padding: 50px;
  font-family: "agFutura";
}
header nav ul > li:hover {
  cursor: pointer;
  font-size: 18pt;
}

@font-face {
  font-family: "agFutura";
  src: url("../fonts/ag-futura.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "agFuturaBold";
  src: url("../fonts/ag-futura-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
footer .footerWrapper {
  padding: 0;
  background-color: #131726;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
footer .footerWrapper .logoHackatonFooter {
  width: 317px;
  height: 71.3333333333px;
  margin: auto;
  background-image: url("../pics/logo_b.png");
  background-size: cover;
}
footer .footerWrapper .infoFooter {
  margin: auto;
}
footer .footerWrapper .infoFooter h1 {
  font-family: "agFuturaBold";
  font-size: 36px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}
footer .footerWrapper .infoFooter p {
  font-family: "agFutura";
  font-size: 27px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: "agFutura";
  src: url("../fonts/ag-futura.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "agFuturaBold";
  src: url("../fonts/ag-futura-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "agFutura";
  src: url("../fonts/ag-futura.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "agFuturaBold";
  src: url("../fonts/ag-futura-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
.about {
  position: relative;
}
.about .block {
  border-radius: 0 0 40px 40px;
  background-color: white;
  width: 700px;
  height: 330px;
  margin: 0 calc(50% - 350px);
  padding: 0;
  text-align: center;
  z-index: -10;
  position: relative;
}
.about .block h2 {
  margin: 0 calc(50% - 233.3333333333px);
  padding-top: 150px;
  font-family: "agFuturaBold";
}
.about .block h1 {
  margin: 0 calc(50% - 233.3333333333px);
  font-family: "agFuturaBold";
  font-size: 43pt;
  text-decoration: underline;
}
.about .block h3 {
  margin: 0 calc(50% - 233.3333333333px);
  position: relative;
  font-family: "agFutura";
  font-size: 16pt;
}
.about .block h3:after {
  content: "";
  position: absolute;
  top: -120px;
  left: -245px;
  width: 150px;
  height: 150px;
  background-image: url("../pics/1_planet.png");
  background-size: cover;
}
.about .block h4 {
  font-family: "agFuturaBold";
  font-size: 51pt;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.about .block .logoBNTUWithInfofmation {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.about .block .logoBNTUWithInfofmation .bntuLogo {
  width: 150px;
  height: 181px;
  margin: auto;
  background-image: url("../pics/logo BNTY.png");
  background-size: cover;
}
.about .block .logoBNTUWithInfofmation .info {
  font-family: "agFuturaBold";
  font-size: 27px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.about .block .logoBNTUWithInfofmation::after {
  content: "";
  position: absolute;
  top: 770px;
  left: 780px;
  width: 150px;
  height: 150px;
  background-image: url("../pics/1_planet.png");
  background-size: cover;
}
.about .block .logoBNTUWithInfofmation::before {
  content: "";
  position: absolute;
  top: 680px;
  left: 660px;
  width: 190px;
  height: 190px;
  background-image: url("../pics/2_planet.png");
  background-size: cover;
}
.about .block::after {
  content: "";
  position: absolute;
  width: 508px;
  height: 518px;
  top: 84px;
  left: 72px;
  background-image: url(../pics/1_fon.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.about .idea {
  border-radius: 0 80px 40px 40px;
  border-bottom: 2px solid #191D2F;
  background-color: white;
  width: 700px;
  height: 390px;
  margin: 330px calc(50% - 350px);
  margin-bottom: 0;
  padding-top: 0;
  z-index: -10;
  position: relative;
}
.about .idea h1 {
  font-family: "agFuturaBold";
  font-size: 27pt;
  padding: 0 60px;
  margin: 0;
  margin-bottom: 15px;
}
.about .idea p {
  font-family: "agFutura";
  font-size: 16pt;
  padding: 0 60px;
  margin: 0;
  margin-bottom: 15px;
}
.about .idea .yearsInFrame {
  position: absolute;
  width: 466.6666666667px;
  height: 60px;
  top: 330px;
  left: 235px;
  border: 2px solid #191D2F;
  border-radius: 40px 0 0 40px;
  border-right: 0;
  border-right-style: none;
  border-bottom-style: none;
}
.about .idea .yearsInFrame h1 {
  font-family: "agFuturaBold";
  font-size: 27pt;
  padding: 10px 60px;
  color: #191D2F;
  margin: auto;
}
.about .idea .yearsInFrame h1 span {
  color: #87878a;
}

.about::before {
  z-index: -10;
  content: "";
  position: absolute;
  width: 400px;
  height: 410px;
  top: 330px;
  left: calc(50% - 350px);
  border-radius: 40px 40px 80px 0;
  background-color: white;
  width: 700px;
  height: 330px;
}

.questions {
  margin: 0;
  padding: 0;
  position: relative;
}
.questions .generalBlock {
  background-color: white;
  margin: 0 calc(50% - 350px);
  border-radius: 40px;
  padding: 0;
}
.questions .blockBorderRadiusNoRoundingAtBottomLeft {
  border-bottom-left-radius: 0;
}
.questions .blockBorderRadiusNoRoundingAtTopLeft {
  border-top-left-radius: 0;
}
.questions .question {
  margin: 0 calc(50% - 350px);
}
.questions .question h1 {
  font-family: "agFuturaBold";
  font-size: 27pt;
  padding: 20px 60px;
  margin: 0;
}
.questions .question p {
  font-family: "agFutura";
  font-size: 16pt;
  padding: 0 60px;
  margin: 0;
  padding-bottom: 15px;
}
.questions .question .lastBlock {
  height: 200px;
  width: 700px;
}
.questions .question .lastBlock .logoHackaton {
  height: 107px;
  width: 475px;
  background-image: url("../pics/logo_b.png");
  background-size: cover;
  margin: auto;
  margin-top: 40px;
}
.questions .blockWhatIsHackaton {
  position: relative;
}
.questions .blockWhatIsHackaton .halfCircle {
  position: absolute;
  height: 160px;
  width: 160px;
  top: 205px;
  left: 613px;
  border: 10px solid #191D2F;
  border-radius: 50%;
  background-color: #191D2F;
}
.questions .blockWhyHackaton {
  position: relative;
}
.questions .blockWhyHackaton .halfCircle {
  position: absolute;
  height: 120px;
  width: 120px;
  top: 175px;
  left: 648px;
  border: 10px solid #191D2F;
  border-radius: 50%;
  background-color: #191D2F;
}
.questions .blockWhyHold {
  position: relative;
  z-index: 10;
  border-bottom: 2px solid #191D2F;
}
.questions .blockWhyHold .fon {
  position: absolute;
  width: 499px;
  height: 304px;
  top: -17px;
  left: 0;
  background-image: url(../pics/2_fon.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.questions .blockWhatCanILearn {
  position: relative;
  z-index: 10;
}
.questions .blockWhatCanILearn ul {
  padding: 0 60px;
}
.questions .blockWhatCanILearn ul li {
  font-family: "agFutura";
  font-size: 16pt;
  margin: 0;
  padding-bottom: 15px;
}
.questions .blockWhatCanILearn .fon {
  position: absolute;
  width: 622px;
  height: 633px;
  top: -1px;
  left: 36px;
  background-image: url(../pics/1_fon.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.questions .planet1 {
  position: absolute;
  top: 770px;
  left: 900px;
  width: 100px;
  height: 100px;
  background-image: url("../pics/1_planet.png");
  background-size: cover;
  z-index: -1;
}
.questions .planet2 {
  position: absolute;
  top: 466px;
  left: 60px;
  width: 150px;
  height: 150px;
  z-index: -1;
  background-image: url("../pics/3_planet.png");
  background-size: cover;
}
.questions .planet3 {
  position: absolute;
  top: 113px;
  left: 23px;
  width: 150px;
  height: 150px;
  z-index: -1;
  background-image: url("../pics/2_planet.png");
  background-size: cover;
}
.questions .planet4 {
  position: absolute;
  top: 370px;
  left: 930px;
  width: 150px;
  height: 150px;
  z-index: -1;
  background-image: url("../pics/2_planet.png");
  background-size: cover;
}

@font-face {
  font-family: "agFutura";
  src: url("../fonts/ag-futura.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "agFuturaBold";
  src: url("../fonts/ag-futura-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
.organizators {
  min-height: 330px;
  background-color: #10162e;
  padding-top: 20px;
  text-align: center;
}
.organizators h1 {
  font-family: "agFuturaBold";
  font-size: 27pt;
  color: white;
}
.organizators .organizatorsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 60px;
}
.organizators .organizatorsWrapper .organizator {
  display: flex;
  flex-direction: column;
}
.organizators .organizatorsWrapper .organizator .organizatorPicture {
  height: 200px;
  width: 200px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 100px;
}
.organizators .organizatorsWrapper .organizator .organizatorInformation {
  min-height: 240px;
  width: 390px;
}
.organizators .organizatorsWrapper .organizator .organizatorInformation .organizatorName {
  font-family: "agFuturaBold";
  font-size: 14pt;
  color: white;
}
.organizators .organizatorsWrapper .organizator .organizatorInformation .organizatorRole {
  font-family: "agFutura";
  font-size: 12pt;
  color: #c8c6c6;
}
.organizators .organizatorsWrapper .organizator .organizatorInformation .organizatorDescription {
  font-family: "agFutura";
  font-size: 14pt;
  color: white;
}

@font-face {
  font-family: "agFutura";
  src: url("../fonts/ag-futura.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "agFuturaBold";
  src: url("../fonts/ag-futura-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
.program {
  position: relative;
  min-height: 330px;
  width: 700px;
  background-color: white;
  margin: 20px calc(50% - 350px);
  margin-bottom: 0;
  padding: 20px 0;
  text-align: center;
  border-radius: 40px 40px 0 0;
}
.program h1 {
  font-family: "agFuturaBold";
  font-size: 27pt;
}
.program .day .dayHeader {
  text-align: left;
  margin-left: 90px;
}
.program .day .dayHeader h2 {
  font-family: "agFutura";
  font-size: 27pt;
}
.program .day .dayHeader h2 span {
  font-family: "agFuturaBold";
  font-size: 51pt;
}
.program .day .dayProgram {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.program .day .dayProgram .timeDayProgram {
  text-align: right;
  font-family: "agFutura";
  font-size: 14pt;
  margin-right: 15px;
}
.program .day .dayProgram .activityDayProgram {
  text-align: left;
  font-family: "agFutura";
  font-size: 14pt;
  padding-left: 15px;
  border-left: 1px solid #191D2F;
}
.program .planet1 {
  position: absolute;
  top: -229px;
  left: 792px;
  width: 100px;
  height: 100px;
  background-image: url("../pics/2_planet.png");
  background-size: cover;
  z-index: -1;
}
.program .planet2 {
  position: absolute;
  top: 229px;
  left: -210px;
  width: 100px;
  height: 100px;
  background-image: url("../pics/1_planet.png");
  background-size: cover;
  z-index: -1;
}
.program .planet3 {
  position: absolute;
  top: 1025px;
  left: -102px;
  width: 150px;
  height: 150px;
  background-image: url("../pics/2_planet.png");
  background-size: cover;
  z-index: -1;
}
.program .planet4 {
  position: absolute;
  top: 1440px;
  left: 747px;
  width: 130px;
  height: 130px;
  background-image: url("../pics/2_planet.png");
  background-size: cover;
  z-index: -1;
}
.program .planet5 {
  position: absolute;
  top: 770px;
  left: 900px;
  width: 100px;
  height: 100px;
  background-image: url("../pics/1_planet.png");
  background-size: cover;
  z-index: -1;
}
.program .planet6 {
  position: absolute;
  top: 770px;
  left: 900px;
  width: 100px;
  height: 100px;
  background-image: url("../pics/1_planet.png");
  background-size: cover;
  z-index: -1;
}
.program .planet7 {
  position: absolute;
  top: 770px;
  left: 900px;
  width: 100px;
  height: 100px;
  background-image: url("../pics/1_planet.png");
  background-size: cover;
  z-index: -1;
}

@font-face {
  font-family: "agFutura";
  src: url("../fonts/ag-futura.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "agFuturaBold";
  src: url("../fonts/ag-futura-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
.yearGalery {
  min-height: 330px;
  background-color: #10162e;
  padding-top: 30px;
  text-align: center;
}
.yearGalery h1 {
  font-family: "agFuturaBold";
  font-size: 27pt;
  color: white;
  padding-top: 150px;
}
.yearGalery .yearWrapper {
  padding-top: 37.5px;
}
.yearGalery .yearWrapper .yearPhotos {
  padding: 0 60px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.yearGalery .yearWrapper .yearPhotos .photo {
  width: 342.5px;
  height: 228.5px;
  background-image: url(../pics/14736428t1h4a35.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}

.year2021Wrapper {
  padding-top: 150px;
}

main {
  font-family: "agFuturaBold";
  padding-top: 120px;
}
main section.ticket {
  background-color: #fff;
  border-radius: 30px;
  max-width: 600px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "agFutura";
  font-size: 16pt;
  background-image: url(../pics/1_fon.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.about .idea {
  margin-top: 0;
  padding-top: 30px;
}

/*# sourceMappingURL=main.css.map */
