@font-face {
    font-family: "agFutura"; 
    // адрес шрифта и тип 
    src: url("../fonts/ag-futura.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: normal; 
    }

    @font-face {
        font-family: "agFuturaBold"; 
        // адрес шрифта и тип 
        src: url("../fonts/ag-futura-bold.woff2") format("woff2"); 
        font-style: normal; 
        font-weight: bold; 
        }