@import "_fonts";
@import "_parameters";

.organizators {

    min-height: $ticketHeight;
    // width: $ticketWidth;

    background-color: #10162e;
    // margin: 20px calc(50% - $ticketWidth/2);
    padding-top: 20px;
    text-align: center;

    // border-radius: $borderRounding;

    h1 {
        font-family: "agFuturaBold";
        font-size: 27pt;
        color: white;
    }

    .organizatorsWrapper {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        padding: 0 60px;


        .organizator {
            display: flex;
            flex-direction: column;

            .organizatorPicture {

                height: 120px;
                width: 120px;

                border: 1px solid #fff;
                border-radius: 50%;

            }

            .organizatorInformation {

                height: 60px;
                width: 120px;
                font-family: "agFutura";
                font-size: 17pt;
                color: white;
            }
        }
    }

}