section#program {

    p{
        color: red($color: #ff0000);
    }

        h1 {
            // text-align: left;
            font-family: "agFutura";
            font-size: 27pt;

            span {
                font-family: "agFuturaBold";
                font-size: 51pt;
            }
        }



    }
