@import "_fonts";
@import "_parameters";

.program {

   position: relative;

   min-height: $ticketHeight;
   width: $ticketWidth;

   background-color: white;
   margin: 20px calc(50% - $ticketWidth/2);
   margin-bottom: 0;
   padding: 20px 0;

   text-align: center;

   border-radius: $borderRounding $borderRounding 0 0;

   h1 {
      font-family: "agFuturaBold";
      font-size: 27pt;
   }

   .day {

      .dayHeader {
         text-align: left;
         margin-left: 90px;

         h2 {
            font-family: "agFutura";
            font-size: 27pt;

            span {
               font-family: "agFuturaBold";
               font-size: 51pt;
            }
         }
      }

      .dayProgram {
         display: grid;
         grid-template-columns: 1fr 3fr;

         .timeDayProgram {
            text-align: right;
            font-family: "agFutura";
            font-size: 14pt;

            margin-right: 15px;
         }

         .activityDayProgram {
            text-align: left;
            font-family: "agFutura";
            font-size: 14pt;

            padding-left: 15px;

            border-left: 1px solid #191D2F;
         }
      }



   }


   //планетки

   .planet1 {
      position: absolute;
      top: -229px;
      left: 792px;

      width: 100px;
      height: 100px;

      background-image: url('../pics/2_planet.png');
      background-size: cover;
      z-index: -1;
   }

   .planet2 {
      position: absolute;
      top: 229px;
      left: -210px;

      width: 100px;
      height: 100px;

      background-image: url('../pics/1_planet.png');
      background-size: cover;
      z-index: -1;
   }


   .planet3 {
      position: absolute;
      top: 1025px;
      left: -102px;

      width: 150px;
      height: 150px;

      background-image: url('../pics/2_planet.png');
      background-size: cover;
      z-index: -1;
   }

   .planet4 {
      position: absolute;
      top: 1440px;
      left: 747px;

      width: 130px;
      height: 130px;

      background-image: url('../pics/2_planet.png');
      background-size: cover;
      z-index: -1;
   }

   .planet5 {
      position: absolute;
      top: 770px;
      left: 900px;

      width: 100px;
      height: 100px;

      background-image: url('../pics/1_planet.png');
      background-size: cover;
      z-index: -1;
   }

   .planet6 {
      position: absolute;
      top: 770px;
      left: 900px;

      width: 100px;
      height: 100px;

      background-image: url('../pics/1_planet.png');
      background-size: cover;
      z-index: -1;
   }

   .planet7 {
      position: absolute;
      top: 770px;
      left: 900px;

      width: 100px;
      height: 100px;

      background-image: url('../pics/1_planet.png');
      background-size: cover;
      z-index: -1;
   }


}