@import "_header";
@import "_footer";

@import "fonts";
@import "_about";
@import "_parameters";
@import "_questions";
@import "_organizators";
@import "_program";

@import "_galery";

main {
   font-family: "agFuturaBold";

   padding-top: 120px;

   section.ticket {
      background-color: #fff;
      border-radius: 30px;
      max-width: 600px;
      padding: 30px;
      margin-left: auto;
      margin-right: auto;

      font-family: "agFutura";
      font-size: 16pt;
      background-image: url(../pics/1_fon.png);
      background-size: cover;
      background-repeat: no-repeat;
   }
}

.about .idea {
   margin-top: 0;
   padding-top: 30px;
}