@import "_header";
@import "_footer";

@import "fonts";
// @import "_about";
@import "_parameters";
// @import "_questions";
@import "_organizators";
@import "_program";

@import "_galery";

main {
   font-family: "agFuturaBold";

   padding-top: 120px;

   position: relative;

   #mainTitleText {
      font-family: "agFuturaBold";
      font-size: 47pt;
      text-align: center;
   }

   #mottoText {
      font-size: 24pt;
      text-align: center;
      margin-bottom: 0;

   }

   #periodText {
      font-size: 47pt;
      font-family: "agFuturaBold";
      text-decoration: underline;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
   }

   #titleText {
      font-size: 18pt;
      text-align: center;
      margin-top: 10px;
   }


   section.ticket {
      margin-top: 1px;
      position: relative;
      background-color: #fff;
      border-radius: 30px;
      max-width: 600px;
      padding: 30px 60px 60px;
      margin-left: auto;
      margin-right: auto;

      font-family: "agFutura";
      font-size: 16pt;
      // background-image: url(../pics/1_fon.png);
      // background-size: cover;
      // background-repeat: no-repeat;

      .yearsInFrame {
         position: absolute;
         right: 0px;
         bottom: 0px;

         border: 2px solid #191D2F;

         border-radius: $borderRounding 0 0 $borderRounding;
         border-right: 0;
         border-right-style: none;
         border-bottom-style: none;

         p {
            font-family: "agFuturaBold";
            font-size: 27pt;
            padding: 10px 60px;
            color: #191D2F;
            margin: auto;

            span {
               color: #87878a;
            }
         }
      }

      &#about {
         padding-bottom: 75px;
      }

      .bntuLogo {
         width: 150px;
         height: 181px;

         margin: auto;

         background-image: url('../pics/logo\ BNTY.png');
         background-size: cover;
      }
   }
}

.about .idea {
   margin-top: 0;
   padding-top: 30px;
}

.titleTicket {
   background-image: url(../pics/1_fon.png);
   background-size: cover;
   background-repeat: no-repeat;
}