@import "_header";
@import "_footer";

@import "fonts";
@import "_about";
@import "_parameters";
@import "_questions";
@import "_organizators";
@import "_program";

@import "_galery";

main {
   font-family: "agFuturaBold";

   padding-top: 120px;

   position: relative;

   section.ticket {
      margin-top: 2px;
      position: relative;
      background-color: #fff;
      border-radius: 30px;
      max-width: 600px;
      padding: 30px 60px 60px;
      margin-left: auto;
      margin-right: auto;

      font-family: "agFutura";
      font-size: 16pt;
      background-image: url(../pics/1_fon.png);
      background-size: cover;
      background-repeat: no-repeat;

      .yearsInFrame {
         position: absolute;
         right: 30px;
         bottom: 0px;
      }

      &#about {
         padding-bottom: 75px;
      }
   }
}

.about .idea {
   margin-top: 0;
   padding-top: 30px;
}